@model Mozaic.PasswordManager.Web.Models.ViewModels.UserAccountViewModel

@{
    ViewData["Title"] = "Create User Account";
}

<h2>Create User Account</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="AccountName" class="form-label"></label>
        <input asp-for="AccountName" class="form-control form-control-sm" />
        <span asp-validation-for="AccountName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="UserName" class="form-label"></label>
        <input asp-for="UserName" class="form-control form-control-sm" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" type="password" class="form-control form-control-sm" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="EncryptionKey" class="form-label"></label>
        <input asp-for="EncryptionKey" class="form-control form-control-sm" />
        <span asp-validation-for="EncryptionKey" class="text-danger"></span>
    </div>

    <div class="d-flex justify-content-between mt-3">
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-action="GetPasswords" class="btn btn-secondary">Cancel</a>
    </div>
</form>
