@model Mozaic.PasswordManager.Web.Models.DBEntities.UserAccount

<h2>View Password</h2>

<div>
    <h4>Account Name: @Model.AccountName</h4>
    <p><strong>User Name:</strong> @Model.UserName</p>
    <p><strong>Decrypted Password:</strong> <span id="decryptedPassword">@ViewBag.DecryptedPassword</span></p>
</div>


<button class="btn btn-primary" onclick="copyPassword()">
    <i class="fas fa-copy"></i> 

</button>

<a href="@Url.Action("ListPasswords", "UserAccount")" class="btn btn-secondary">Back to List</a>

<script>
    function copyPassword() {
        const passwordText = document.getElementById("decryptedPassword").innerText;
        navigator.clipboard.writeText(passwordText)
            .then(() => {
                alert("Password copied to clipboard!");
            })
            .catch(err => {
                console.error("Could not copy text: ", err);
            });
    }
</script>
