@model Mozaic.PasswordManager.Web.Models.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h1 class="mb-4">Admin Dashboard</h1>

    <h2>Create a User</h2>

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @ViewBag.Message
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
   

    @* Display validation summary if there are any errors *@
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        </div>
    }

    <form asp-action="CreateUser" method="post">
        @Html.AntiForgeryToken()

        <div class="mb-3">
            <div class="form-floating">
                <input class="form-control" asp-for="UserName" id="inputUserName" placeholder="UserName" />
                <label for="inputUserName">UserName</label>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-floating">
                <input class="form-control" asp-for="Password" id="inputPassword" type="password" placeholder="Create a password" />
                <label for="inputPassword">Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-floating">
                <input class="form-control" asp-for="ConfirmPassword" id="inputConfirmPassword" type="password" placeholder="Confirm your password" />
                <label for="inputConfirmPassword">Confirm Password</label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3 form-check">
            <input class="form-check-input" asp-for="IsAdmin" id="inputIsAdmin" type="checkbox" />
            <label class="form-check-label" for="inputIsAdmin">Is Admin?</label>
            <span asp-validation-for="IsAdmin" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Create User</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
