@{
    ViewData["Title"] = "Greeting Page";
    var username = ViewData["Username"];
    var roleMessage = ViewData["RoleMessage"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="text-center">
        <h1>@(User.IsInRole("Admin") ? "Hello, Admin" : "Welcome, User") @username!</h1>
        <p>@roleMessage</p>
        <p>Welcome to Mozaic Password Manager.</p>
    </div>
</body>
</html>
